@font-face {
	font-family: "PFDisplayPro-Black";
	src: url("../fonts/PFDinDisplayPro-Black.ttf") format("truetype");
}
@font-face {
	font-family: "PFDisplayPro-Bold";
	src: url("../fonts/PFDinDisplayPro-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "PFDisplayPro-Light";
	src: url("../fonts/PFDinDisplayPro-Light.ttf") format("truetype");
}
@font-face {
	font-family: "PFDisplayPro-Italic";
	src: url("../fonts/PFDinDisplayPro-Italic.ttf") format("truetype");
}
@font-face {
	font-family: "PFDisplayPro-Med";
	src: url("../fonts/PFDinDisplayPro-Med.ttf") format("truetype");
}
@font-face {
	font-family: "PFDisplayPro-Thin";
	src: url("../fonts/PFDinDisplayPro-Thin.ttf") format("truetype");
}
@font-face {
	font-family: "PFDisplayPro-XThin";
	src: url("../fonts/PFDinDisplayPro-XThin.ttf") format("truetype");
}
@font-face {
	font-family: "PFDisplayPro-Reg";
	src: url("../fonts/PFDinDisplayPro-Reg.ttf") format("truetype");
}