@font-face {
	font-family: "PFDinDisplayPro-Black";
	src: url("../fonts/PFDinDisplayPro-Black.ttf") format("truetype");
}
@font-face {
	font-family: "PFDinDisplayPro-Bold";
	src: url("../fonts/PFDinDisplayPro-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "PFDinDisplayPro-Light";
	src: url("../fonts/PFDinDisplayPro-Light.ttf") format("truetype");
}
@font-face {
	font-family: "PFDinDisplayPro-Italic";
	src: url("../fonts/PFDinDisplayPro-Italic.ttf") format("truetype");
}
@font-face {
	font-family: "PFDinDisplayPro-Med";
	src: url("../fonts/PFDinDisplayPro-Med.ttf") format("truetype");
}
@font-face {
	font-family: "PFDinDisplayPro-Thin";
	src: url("../fonts/PFDinDisplayPro-Thin.ttf") format("truetype");
}
@font-face {
	font-family: "PFDinDisplayPro-XThin";
	src: url("../fonts/PFDinDisplayPro-XThin.ttf") format("truetype");
}
@font-face {
	font-family: "PFDinDisplayPro-Reg";
	src: url("../fonts/PFDinDisplayPro-Reg.ttf") format("truetype");
}