@import url('https://fonts.googleapis.com/css?family=PT+Serif');
body {
	font: 1.8rem "PFDinDisplayPro-Reg", sans-serif;
	min-width: 320px;
	color: #000;
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	overflow-x: hidden;
}
p {
	font-size: 1.8rem;
	line-height: 3rem;
}
.relative {
	position: relative;
}
button {
	border: none;
	background: none;
}
.next, .prev {
	position: absolute;
	cursor: pointer;
	width: 7rem;
	height: 4.5rem;
	-webkit-background-size: 100%;
	background-size: 100%;
	z-index: 5;
}
.next {
	background-image: url(../img/next.png);
	transition: all ease .3s;
}
.next:hover {
	background-image: url(../img/next_hover.png);
	transition: all ease .3s;
}
.prev {
	background-image: url(../img/prev.png);
	transition: all ease .3s;
}
.prev:hover {
	background-image: url(../img/prev_hover.png);
	transition: all ease .3s;
}
a, a:focus, a:hover {
	color: inherit;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}
button, button:focus, button:hover, input, .thumbnail, .slick-slide, img, ul, li, a, a:focus, a:hover, div, div:focus textarea, textarea:focus {
	outline: none;
	text-decoration: none;
}
.politics {
	background-color: #fff;
}
.politics p {
	font-size: 18px;
	color: #000;
}
.politics_text {
	padding: 20px 40px;
}
.politics h3 {
	background: #1782ab;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
	margin: 0;
}
.made_by {

}
@media only screen and (max-width : 767px) {
	.politics h3 {
		font-size: 23px;
	}
}
section {
	padding: 80px 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
}
section h6 {
	font-weight: bold;
	font-size: 24px;
}
section h4 {
	line-height: 30px;
}
section h3 {
	font: 3rem "PFDinDisplayPro-Bold", sans-serif;
	color: #000;
	letter-spacing: .05em;
	text-align: center;
	text-transform: uppercase;
}
ul {
	list-style-type: none;
	padding: 0;
}
.thanks_body {
	background-image: url(../img/thanks_bg.jpg);
	background-repeat: no-repeat;
	background-position-x: center;
	margin: 0;
	height: 100%;
	color: #fff;
	display: table;
	width: 100%;
	text-align: center;
}
.thanks_body h4 {
	font-size: 36px;
	margin-top: 0;
}
.thanks_body p {
	font-size: 24px;
	margin-bottom: 0;
}
.thanks_page {
	display: table-cell;
	vertical-align: middle;
}
footer {
	min-height: 126px;
	padding-top: 20px;
}
footer p {
	color: #919191;
	font-size: 1.8rem;
}
footer span {
	text-decoration: underline;
	color: #2897e5;
	display: block;
	font-size: 18px;
}
.footer_logo {
	padding-top: 12px;
}
.made_by p {
	margin-bottom: 10px;
}
.copyright p {
	margin-top: 10px;
}
.copyright {
	text-align: center;
	padding-top: 20px;
}
.made_by {
	text-align: right;
	padding-top: 20px;
}
.form_wrapper {
	margin: auto;
	text-align: center;
	position: relative;
	background-color: rgb(234,234,234);
	border: 3px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 4.5rem 5rem 3rem;
}
.form_wrapper h6 {
	font: 3rem "PFDinDisplayPro-Bold", sans-serif;
	color: #363636;
}
.form_wrapper p {
	color: #363636;
	font-size: 2rem;
	line-height: 2.4rem;
	margin-bottom: 3rem;
}
.form_wrapper p.safety {
	font-size: 1.6rem;
	color: #737373;
	line-height: 1.8rem;
	margin-top: 2.6rem;
	width: 130%;
	position: relative;
	left: -38px;
	margin-bottom: 0;
}
label.error {
	color: red;
}
.form input::-webkit-input-placeholder {
	text-align: center;
	font: 1.8rem "PFDinDisplayPro-Italic", sans-serif;
	color: #3d3d3d;
}
.form input::-moz-placeholder {
	text-align: center;
	font: 1.8rem "PFDinDisplayPro-Italic", sans-serif;
	color: #3d3d3d;
}
.form input:-ms-input-placeholder {
	text-align: center;
	font: 1.8rem "PFDinDisplayPro-Italic", sans-serif;
	color: #3d3d3d;
}
.form input:-moz-placeholder {
	text-align: center;
	font: 1.8rem "PFDinDisplayPro-Italic", sans-serif;
	color: #3d3d3d;
}
.form textarea::-webkit-input-placeholder {
	text-align: center;
	font: 1.8rem "PFDinDisplayPro-Italic", sans-serif;
	color: #3d3d3d;
}
.form textarea::-moz-placeholder {
	text-align: center;
	font: 1.8rem "PFDinDisplayPro-Italic", sans-serif;
	color: #3d3d3d;
}
.form textarea:-ms-input-placeholder {
	text-align: center;
	font: 1.8rem "PFDinDisplayPro-Italic", sans-serif;
	color: #3d3d3d;
}
.form textarea:-moz-placeholder {
	text-align: center;
	font: 1.8rem "PFDinDisplayPro-Italic", sans-serif;
	color: #3d3d3d;
}
.form input {
	width: 100%;
	max-width: 270px;
	margin-top: 1rem;
	color: #000;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	padding: 1.8rem 0;
	-webkit-box-shadow: inset 0 3px 21px rgba(0,0,0,.53);
	-moz-box-shadow: inset 0 3px 21px rgba(0,0,0,.53);
	-ms-box-shadow: inset 0 3px 21px rgba(0,0,0,.53);
	-o-box-shadow: inset 0 3px 21px rgba(0,0,0,.53);
	box-shadow: inset 0 3px 21px rgba(0,0,0,.53);
	border: solid 1px #fff;
}
.form button {
	width: 100%;
	max-width: 270px;
	margin-top: 1rem;
	padding: 1.8rem 0;
}
.btn_red {
	font: 1.8rem "PFDinDisplayPro-Bold", sans-serif;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 -1px rgba(44,35,20,.47);
	background-image: -webkit-linear-gradient(to top, #740404, #dd0b0b);
	background-image: -moz-linear-gradient(to top, #740404, #dd0b0b);
	background-image: -ms-linear-gradient(to top, #740404, #dd0b0b);
	background-image: -o-linear-gradient(to top, #740404, #dd0b0b);
	background-image: linear-gradient(to top, #740404, #dd0b0b);
	-webkit-box-shadow: 0 3px 0 #4f0101;
	-moz-box-shadow: 0 3px 0 #4f0101;
	-ms-box-shadow: 0 3px 0 #4f0101;
	-o-box-shadow: 0 3px 0 #4f0101;
	box-shadow: 0 3px 0 #4f0101;
}
.btn_red:hover {
	background-image: -webkit-linear-gradient(to bottom, #740404, #dd0b0b);
	background-image: -moz-linear-gradient(to bottom, #740404, #dd0b0b);
	background-image: -ms-linear-gradient(to bottom, #740404, #dd0b0b);
	background-image: -o-linear-gradient(to bottom, #740404, #dd0b0b);
	background-image: linear-gradient(to bottom, #740404, #dd0b0b);
}
.btn_product {
	font: 1.8rem "PFDinDisplayPro-Bold", sans-serif;
	color: #fe0000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border: solid 1px #ff2000;
	padding: 1.8rem 0;
	transition: all ease .3s;
}
.btn_product:hover {
	color: #fff;
	background-color: #ed0a10;
	transition: all ease .3s;
}
h1{
	font: 6.5rem "PFDinDisplayPro-Reg", sans-serif;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: .05em;
}
h2 {
	line-height: 3.8rem;
	font: 2.8rem "PFDinDisplayPro-Reg", sans-serif;
	color: #c7c0c2;
}
.desc {
	font-size: 1.6rem;
	line-height: 2.2rem;
}
.top_phone {
	text-align: right;
	font: 2.4rem "PFDinDisplayPro-Bold", sans-serif;
	color: #010101;
	line-height: 2.4rem;
}
.top_btn button {
	font: 1.2rem "PFDinDisplayPro-Bold", sans-serif;
	width: 100%;
	max-width: 270px;
	padding: 2.1rem 0;
	color: #015d97;
	letter-spacing: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 7px rgba(71,44,19,.69);
	-moz-box-shadow: 0 4px 7px rgba(71,44,19,.69);
	-ms-box-shadow: 0 4px 7px rgba(71,44,19,.69);
	-o-box-shadow: 0 4px 7px rgba(71,44,19,.69);
	box-shadow: 0 4px 7px rgba(71,44,19,.69);
	border: solid 1px #015d97;
	text-transform: uppercase;
	transition: all ease .4s;
}
.top_btn button:hover {
	background-color: #015d97;
	color: #fff;
	transition: all ease .4s;
}
header {
	background-image: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center 80px;
	min-height: 712px;
}
.top_head {
	min-height: 8rem;
}
header ul {
	font: 1.8rem sans-serif;
	line-height: 4.5rem;
	color: #fff;

}
header ul li {
	background-image: url(../img/li_icon.png);
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 4rem;
}
.search {
	background-image: url(../img/search.jpg);
}
.search h3 {
	color: #e6e0e1;
}
.search h4 {
	color: #fff;
	font-size: 2.2rem;
	text-align: center;
}
.achieve {
	background-image: url(../img/achieve_bg.jpg);
	background-position: 49.5% 275px;
}
.achieve h3 {
	font-size: 3.3rem;
	position: relative;
	margin-bottom: 9.5rem;
}
.achieve h3:before {
	content: "";
	background-image: url(../img/arrow.png);
	position: absolute;
	bottom: -56px;
	height: 177px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center top;
}
.achieve .row:first-of-type .achieve_item {
	height: 33rem;
}
.achieve .row:last-of-type .achieve_item {
	height: 40rem;
}
.achieve h4 {
	color: #fefefe;
	font: 3rem "PFDinDisplayPro-Bold", sans-serif;
}
.achieve p {
	color: #fefefe;
}
.achieve_item {
	padding: 7.5rem 5rem 0 9.8rem;
}
.achieve .row:first-of-type .col-sm-6:first-of-type .achieve_item {
	background-image: url(../img/achieve_1.jpg);
}
.achieve .row:first-of-type .col-sm-6:first-of-type {
	padding: 0;
	left: 15px;
}
.achieve .row:first-of-type .col-sm-6:last-of-type .achieve_item {
	background-image: url(../img/achieve_2.jpg);
}
.achieve .row:last-of-type .col-sm-6:first-of-type .achieve_item {
	background-image: url(../img/achieve_3.jpg);
}
.achieve .row:last-of-type .col-sm-6:last-of-type .achieve_item {
	background-image: url(../img/achieve_4.jpg);
}
.achieve .row:last-of-type .col-sm-6:last-of-type {
	padding: 0;
	left: -15px;
}
.buy h4 {
	position: relative;
	font: 3rem "PFDinDisplayPro-Bold", sans-serif;
	margin: 2.5rem 0 3.5rem;
}
.buy h4:before {
	content: "";
	position: absolute;
	font: 18rem "PT Serif", sans-serif;
	color: #eee6df;
	z-index: -1;
	top: -86px;
	left: -18px;
}
.buy .row {
	margin-bottom: 8rem;
}
.buy .row:first-of-type h4:before {
	content: "1";
}
.buy .row:nth-of-type(2) h4:before {
	content: "2";
}
.buy .row:nth-of-type(3) h4:before {
	content: "3";
}
.buy .row:last-of-type h4:before {
	content: "4";
}
.buy p {
	position: relative;
	z-index: 2;
}
.buy h3 {
	margin-bottom: 10rem;
}
.buy_mask {
	width: 30rem;
	height: 30rem;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	-ms-border-radius: 22px;
	-o-border-radius: 22px;
	border-radius: 22px;
	border: solid 3px #ed0a10;
	position: absolute;
	bottom: -30px;
	left: -15px;
	z-index: 4;
}
.buy .col-sm-4 {
	padding-right: 10px;
}
.buy .buy_img {
	position: relative;
	z-index: 5;
}
.buy .upper_buy {
	width: 49.7rem;
	height: 6.5rem;
	position: absolute;
	top: -18px;
	left: 115px;
	background-image: url(../img/upper_buy.png);
}
.buy .lower_buy  {
	width: 47.3rem;
	height: 1.5rem;
	position: absolute;
	bottom: 2px;
	left: 9px;
	z-index: 6;
	background-image: url(../img/lower_buy.png);
}
.brand {
	background-image: url(../img/brand_bg.jpg);
}
.brand:before {
	position: absolute;
	content: "";
	background-repeat: no-repeat;
	background-position: center top;
	top: -135px;
	height: 730px;
	background-image: url(../img/brand_left_bg.png);
	width: 100%;
}
.brand .brand_slider {
	height: 100px;
}
.brand h3 {
	color: #eee6df;
	margin-bottom: 6.5rem;
}
.brand .slick-track {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	height: 100px;
}
.brand .col-sm-10 {
	padding: 0;
}
.slider_wrapper {
	position: relative;
}
.brand .next {
	right: 0;
	top: 28px;
}
.brand .prev {
	left: 0;
	top: 28px;
}
.brand_item {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
	border: solid 1px #eee6df;
	height: 10rem;
	width: 100%;
	max-width: 170px;
	position: relative;
}
.brand_item img {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	margin: auto;
}
.help {
	height: 31.6rem;
	background-image: url(../img/help_bg.jpg);
}
.help h3 {
	color: #eee6df;
	margin-bottom: 4rem;
}
.help button {
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 370px;
}
.share {
	background-image: url(../img/share_bg.png);
	top: -52px;
	padding-top: 13.5rem;
}
.share h3 {
	font: 4.2rem "PFDinDisplayPro-Bold", sans-serif;
	line-height: 5.2rem;
	color: #eee6df;
	text-align: left;
	text-transform: none;
	margin: 4.5rem 0 6rem;
	letter-spacing: 0;
}
.share .left_share p {
	font-size: 2.4rem;
	line-height: 3.4rem;
	color: #fff;
	margin-bottom: 7rem;
}
.share .left_share span {
	color: #c1c1c1;
	font-family: "PFDinDisplayPro-Bold", sans-serif;
}
.share em {
	font-style: normal;
	font-size: 2.4rem;
	line-height: 3.4rem;
	color: #fff;
}
.dot {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: rgb( 238, 230, 223 );
	width: 30px;
	height: 10px;
	margin-right: 8px;
}
.dipl {
	padding-bottom: 15rem;
}
.dipl .slick-dots {
	bottom: 10px;
}
.dipl .slick-dots li {
	width: 30px;
	height: 10px;
}
.dipl .slick-active .dot {
	background-color: rgb( 181, 156, 133 );
}
.dipl h3 {
	margin-bottom: 8.5rem;
}
.nav_slider {
	position: absolute;
	bottom: -9rem;
	width: 100%;
	height: 45px;
}
.dipl_prev {
	left: 30%;
}
.dipl_next {
	right: 30%;
}
.review {
	background-image: url(../img/review_bg.jpg);
}
.review h3 {
	color: #eee6df;
	margin-bottom: 9rem;
}
.review h4 {
	font: 3rem "PFDinDisplayPro-Bold", sans-serif;
	color: #363636;
	margin-bottom: 3.2rem;
}
.review p {
	line-height: 3rem;
	color: #363636;
	margin-bottom: 4rem;
}
.review em {
	text-transform: normal;
	font: 1.8rem "PFDinDisplayPro-Bold", sans-serif;
	line-height: 3rem;
	color: #363636;
}
.review em span {
	font-family: "PFDinDisplayPro-Reg", sans-serif;
}
.review_item {
	border: 1px solid rgb(238,230,223);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	text-align: center;
	padding: 5.8rem 10rem 8rem;
	position: relative;
	margin-bottom: 60px;
}
.review_item img {
	position: absolute;
	bottom: -55px;
	left: 0;
	right: 0;
	margin: auto;
}
.review_next {
	top: 37%;
	right: 0;
}
.review_prev {
	top: 37%;
	left: 0;
}