/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	html {
		font-size: 9px;
	}
	.desc {
		padding-top: 1.2rem;
		padding-left: 6rem;
	}
	.buy p br {
		display: none;
	}
	.buy .buy_img {
		width: 100%;
		max-width: 570px;
	}
	.buy .upper_buy {
		left: 58px;
	}
	.achieve {
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-ms-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		background-position: 49.5% 350px;
	}
	.review .slick-dots {
		right: 45px;
	}
	.achieve h3:before {
		bottom: -70px;
	}
	h1 {
		font-size: 5.5rem;
	}
	header {
		min-height: 1px;
		padding-bottom: 6rem;
	}
	.achieve p br {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	html {
		font-size: 8px;
	}
	.top_head {
		padding-top: 2rem;
	}
	footer .row div  {
		text-align: center;
	}
	.logo img {
		width: 100%;
		max-width: 160px;
	}
	.desc {
		padding-left: 15px;
		padding-top: 1rem;
	}
	.top_btn button {
		font-size: 1rem;
	}
	.buy .upper_buy, .buy .lower_buy, .buy_mask {
		display: none;
	}
	.buy h4:before {
		top: -74px;
	}
	.buy h4 br {
		display: none;
	}
	header {
		background-position: 60% 80px;
	}
	.search .btn_red {
		font-size: 1.6rem;
	}
	.achieve {
		background-position: 49.5% 280px;
	}
	.achieve h3:before {
		display: none;
	}
	.achieve h3 {
		margin-bottom: 6rem;
	}
	.brand .prev, .brand .next {
		top: 32px;
	}
	.share {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: left top;
	}
	.share h3 {
		font-size: 3.8rem;
	}
	.dipl .slick-dots {
		bottom: 8px;
	}
	.review_next {
		right: 0;
	}
	.review_prev {
		left: 0;
	}
	.review_item {
		padding: 4rem 6rem 8rem;
	}
	.achieve_item {
		padding: 6rem 3rem 0 6rem;
	}
	.help button {
		max-width: 270px;
	}
	.form_wrapper p.safety {
		width: 120%;
		left: -28px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	html {
		font-size: 7px;
	}
	.brand .prev {
		left: 15px;
		top: 35px;
	}
	.brand .next {
		right: 15px;
		top: 35px;
	}
	.top_btn, .dipl, .review {
		display: none;
	}
	.desc {
		text-align: center;
		font-size: 2rem;
	}
	header {
		background-position: left 80px;
	}
	h1 {
		margin-top: 8rem;
	}
	.search form {
		text-align: center;
	}
	.search h4 {
		margin-bottom: 2rem;
	}
	.search h3 {
		margin-bottom: 3rem;
	}
	.achieve {
		padding-top: 4rem;
		background-image: none;
	}
	.achieve .row .col-sm-6 {
		padding: 0 15px!important;
		left: 0!important;
		text-align: center;
	}
	.achieve p {
		max-width: 400px;
		margin: 0 auto;
	}
	.achieve_item {
		height: auto!important;
		padding: 4rem 0;
	}
	.achieve h4 br {
		display: none;
	}
	.buy .row {
		text-align: center;
	}
	.buy p {
		max-width: 400px;
		margin: 0 auto 20px;
	}
	.buy .buy_img {
		max-width: 370px;
	}
	.form_wrapper {
		max-width: 320px;
		width: 100%;
	}
	.share {
		text-align: center;
	}
	.share .form_wrapper {
		display: none;
	}
	.share {
		padding-top: 4rem;
		background-image: none;
		background-color: #222;
		top: 0;
	}
	.share h3 {
		text-align: center;
		font-size: 3rem;
	}
	.form_wrapper p.safety {
		width: 100%;
		left: 0;
	}
	.contact .col-sm-4 {
		margin-bottom: 4rem;
	}
	.contact button {
		max-width: 270px;
	}
	footer .col-xs-12 {
		margin-bottom: 2rem;
	}
	.top_phone {
		padding-top: 2.5rem;
	}
	.desc {
		padding-top: 1.5rem;
	}
	.buy .desktop_buy {
		display: none;
	}
	.buy .mobile_buy {
		display: block;
	}
	header ul li {
		padding-left: 5rem;
	}


}
@media only screen and (max-width : 580px) {
	.help {
		background-position: 9% top;
		background-size: cover;
	}
	.brand .slick-initialized .slick-slide {
		margin: 0 auto;
	}
	.desc {
		font-size: 1.7rem;
	}
	.logo img {
		min-width: 120px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	html {
		font-size: 6px;
	}
	.help button {
		max-width: 220px;
	}
	header ul li {
		margin-bottom: 10px;
	}
	.achieve_item {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media only screen and (max-width : 420px) {
	.top_phone {
		width: 100%;
		text-align: center;
	}
	.desc {
		width: 66.66666667%;
		text-align: right;
	}
	header {
		background-position: left 100px;
	}
	h1 {
		font-size: 5rem;
	}
}
@media only screen and (max-width : 380px) {
	header ul li:last-of-type {
		background-position: 2px 0;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
		width: 1200px;
	}
}